<div class="page-header" data-parallax="true" style="background-image: url('https://i.imgur.com/R3cpQ9R.gif');">
  <div class="container" style="width: 100vw; height: 100vh; display: flex; justify-content: center; overflow-y: scroll;">
    <div style="display: flex; flex-direction: row; margin-top: 120px;">
      <div style="width: 250px; height: 400px; background-color: whitesmoke; border-radius: 10px; margin: 20px">
        <h4 style="font-weight: bold; padding-left: 1em">Filters</h4>
        <div style="padding: 1em">
            <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked >
                  Open Rooms
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio disabled">
                <label class="form-check-label">
                  <input class="form-check-input disabled" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" disabled="">
                  Lights On
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio disabled">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios3" value="option3" disabled="">
                  Small Room
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check-radio disabled">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios4" value="option3" disabled="">
                  Large Room
                  <span class="form-check-sign"></span>
                </label>
              </div>      
          </div>       
      </div>
      <div style="display: flex; flex-direction: column">
        <div style="display: flex; flex-direction: row">
          <div style="width: 250px; border-radius: 10px; height: 300px; background-color: whitesmoke; margin: 20px">
            <img src="https://learningspaces.ubc.ca/sites/learningspaces.ubc.ca/files/styles/informal_list/public/classroom-images/MCLD%20202.JPG?itok=8bUIOfdT" style="width: inherit; height: 165px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <div style="padding: 10px">
              <p>
                <label style="font-weight: bold; margin-right: 7px">Building</label>
                <label>MacLeod</label>
                <br/>
                <label style="font-weight: bold; margin-right: 7px">Room</label>
                <label>202</label>
                <br/>
                <label style="font-weight: bold; margin-right: 7px">Occupancy</label>
                <label>20</label>
              </p>
            </div>
            <a href="room" class="btn btn-danger" style="margin-top: -15px; width: inherit; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">See Room</a>
          </div>
          <div style="width: 250px; border-radius: 10px; height: 300px; background-color: whitesmoke; margin: 20px">
            <img src="https://learningspaces.ubc.ca/sites/learningspaces.ubc.ca/files/styles/informal_list/public/classroom-images/MCLD%20214.JPG?itok=4LfkZjn8" style="width: inherit; height: 165px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <div style="padding: 10px">
                <p>
                  <label style="font-weight: bold; margin-right: 7px">Building</label>
                  <label>MacLeod</label>
                  <br/>
                  <label style="font-weight: bold; margin-right: 7px">Room</label>
                  <label>214</label>
                  <br/>
                  <label style="font-weight: bold; margin-right: 7px">Occupancy</label>
                  <label>20</label>
                </p>
            </div>
            <a href="room" class="btn btn-danger" style="margin-top: -15px; width: inherit; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">See Room</a>
          </div>
          <div style="width: 250px; border-radius: 10px; height: 300px; background-color: whitesmoke; margin: 20px">
            <img src="https://learningspaces.ubc.ca/sites/learningspaces.ubc.ca/files/styles/informal_list/public/classroom-images/MCLD%20214.JPG?itok=4LfkZjn8" style="width: inherit; height: 165px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <div style="padding: 10px">
                <p>
                  <label style="font-weight: bold; margin-right: 7px">Building</label>
                  <label>MacLeod</label>
                  <br/>
                  <label style="font-weight: bold; margin-right: 7px">Room</label>
                  <label>214</label>
                  <br/>
                  <label style="font-weight: bold; margin-right: 7px">Occupancy</label>
                  <label>20</label>
                </p>
            </div>
            <a href="room" class="btn btn-danger" style="margin-top: -15px; width: inherit; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">See Room</a>
          </div>
        </div>
        <div style="display: flex; flex-direction: row">
          <div style="width: 250px; border-radius: 10px; height: 300px; background-color: whitesmoke; margin: 20px" href="#room">
            <a href="room"></a>
            <img src="https://learningspaces.ubc.ca/sites/learningspaces.ubc.ca/files/styles/informal_list/public/classroom-images/MCLD%20220.JPG?itok=TlJQbILL" style="width: inherit; height: 165px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <div style="padding: 10px">
                <p>
                  <label style="font-weight: bold; margin-right: 7px">Building</label>
                  <label>MacLeod</label>
                  <br/>
                  <label style="font-weight: bold; margin-right: 7px">Room</label>
                  <label>220</label>
                  <br/>
                  <label style="font-weight: bold; margin-right: 7px">Occupancy</label>
                  <label>20</label>
                </p>
            </div>
            <a href="room" class="btn btn-success" style="margin-top: -15px; width: inherit; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">See Room</a>
          </div>
          <div style="width: 250px; border-radius: 10px; height: 300px; background-color: whitesmoke; margin: 20px">
            <img src="https://learningspaces.ubc.ca/sites/learningspaces.ubc.ca/files/styles/informal_list/public/classroom-images/MCLD%20228-3.JPG?itok=mfF6JdU9" style="width: inherit; height: 165px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <div style="padding: 10px">
                <p>
                  <label style="font-weight: bold; margin-right: 7px">Building</label>
                  <label>MacLeod</label>
                  <br/>
                  <label style="font-weight: bold; margin-right: 7px">Room</label>
                  <label>228</label>
                  <br/>
                  <label style="font-weight: bold; margin-right: 7px">Occupancy</label>
                  <label>20</label>
                </p>
            </div>
            <a href="room" class="btn btn-danger" style="margin-top: -15px; width: inherit; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">See Room</a>
          </div>
          <div style="width: 250px; border-radius: 10px; height: 300px; background-color: whitesmoke; margin: 20px">
              <img src="https://learningspaces.ubc.ca/sites/learningspaces.ubc.ca/files/styles/informal_list/public/classroom-images/MCLD%20228-3.JPG?itok=mfF6JdU9" style="width: inherit; height: 165px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
              <div style="padding: 10px">
                  <p>
                    <label style="font-weight: bold; margin-right: 7px">Building</label>
                    <label>MacLeod</label>
                    <br/>
                    <label style="font-weight: bold; margin-right: 7px">Room</label>
                    <label>228</label>
                    <br/>
                    <label style="font-weight: bold; margin-right: 7px">Occupancy</label>
                    <label>20</label>
                  </p>
              </div>
              <a href="room" class="btn btn-danger" style="margin-top: -15px; width: inherit; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">See Room</a>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
          <div style="width: 250px; border-radius: 10px; height: 300px; background-color: whitesmoke; margin: 20px">
            <img src="https://learningspaces.ubc.ca/sites/learningspaces.ubc.ca/files/styles/informal_list/public/classroom-images/MCLD%20202.JPG?itok=8bUIOfdT" style="width: inherit; height: 165px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <div style="padding: 10px">
              <p>
                <label style="font-weight: bold; margin-right: 7px">Building</label>
                <label>MacLeod</label>
                <br/>
                <label style="font-weight: bold; margin-right: 7px">Room</label>
                <label>202</label>
                <br/>
                <label style="font-weight: bold; margin-right: 7px">Occupancy</label>
                <label>20</label>
              </p>
            </div>
            <a href="room" class="btn btn-danger" style="margin-top: -15px; width: inherit; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">See Room</a>
          </div>
          <div style="width: 250px; border-radius: 10px; height: 300px; background-color: whitesmoke; margin: 20px">
            <img src="https://learningspaces.ubc.ca/sites/learningspaces.ubc.ca/files/styles/informal_list/public/classroom-images/MCLD%20214.JPG?itok=4LfkZjn8" style="width: inherit; height: 165px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <div style="padding: 10px">
                <p>
                  <label style="font-weight: bold; margin-right: 7px">Building</label>
                  <label>MacLeod</label>
                  <br/>
                  <label style="font-weight: bold; margin-right: 7px">Room</label>
                  <label>214</label>
                  <br/>
                  <label style="font-weight: bold; margin-right: 7px">Occupancy</label>
                  <label>20</label>
                </p>
            </div>
            <a href="room" class="btn btn-danger" style="margin-top: -15px; width: inherit; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">See Room</a>
          </div>
          <div style="width: 250px; border-radius: 10px; height: 300px; background-color: whitesmoke; margin: 20px">
            <img src="https://learningspaces.ubc.ca/sites/learningspaces.ubc.ca/files/styles/informal_list/public/classroom-images/MCLD%20214.JPG?itok=4LfkZjn8" style="width: inherit; height: 165px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <div style="padding: 10px">
                <p>
                  <label style="font-weight: bold; margin-right: 7px">Building</label>
                  <label>MacLeod</label>
                  <br/>
                  <label style="font-weight: bold; margin-right: 7px">Room</label>
                  <label>214</label>
                  <br/>
                  <label style="font-weight: bold; margin-right: 7px">Occupancy</label>
                  <label>20</label>
                </p>
            </div>
            <a href="room" class="btn btn-danger" style="margin-top: -15px; width: inherit; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">See Room</a>
          </div>
        </div>
        <ul class="pagination" style="align-self: center; padding: 30px;">
          <li class="page-item active">
            <a class="page-link" href="">
              <!----> 
              1 
              <!---->
              <span class="sr-only">(current)</span>
              <!---->
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="">
              <!----> 
              2 
              <!---->
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="">
              <!----> 
              3 
              <!---->
            </a>
          </li>
          <li class="page-item">
            <a aria-label="Next" class="page-link" href="">
              <!---->
              <span aria-hidden="true">»</span>
              <!---->
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
